*{
    margin:0px 0px 0px 0px;
    padding: 0px;
}
#title{
    text-align: center;
}
#input{
    display: flex;
}
#collection p{
    display: inline-block;
}
.date{
    border: 2px solid black;
    border-radius: 5px;
    margin: 7px 20px 7px 20px ;
    padding: 3px;
    background-color: rgba(119, 4, 37, 0.501);
}
.item{
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
}
button{
    height: 28px;
    width: 50px;
    border-radius: 2px;
}
button:hover{
    background-color: black;
    color: white;
}


